<?xml version="1.0"?>
<data>
    <ScriptSystemPrompt>You are a scriptwriter who specializes in making short and engaging videos. Format your scripts as just the sentences to be narrated without any titles, transitions, or any other script terminology. Here are your instructions: </ScriptSystemPrompt>
    <PathToMediaOutput>/app/media/output/</PathToMediaOutput>
    <PathToMediaInput>/app/media/input/</PathToMediaInput>
</data>